.App {
  text-align: center;
}


.leaflet-container {
  width: 100wh; 
  height: 90vh;
}

.locate-button {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1000;
  background-color: transparent;
  padding: 8px;
  border: 1px #ccc;
  cursor: pointer;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}